# ================================
# 1. General Ignored Files
# ================================

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
._*

# Logs and temporary files
*.log
logs/
*.out
*.pid
*.seed
*.tmp
*.temp
*.swp
*.swo
*.bak
*.backup
*.orig
*.rej

# Environment variable files
.env
.env.*.local

# ================================
# 2. Python Backend
# ================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# ================================
# 3. Node.js Frontend
# ================================

# Dependencies
/node_modules/
/frontend/node_modules/

# Build output
/frontend/dist/
/frontend/build/
/frontend/coverage/
/frontend/lib-cov/
/frontend/.next/
/frontend/.nuxt/
/frontend/out/
/frontend/public/
/frontend/.cache/
.frontend/.parcel-cache/

# Production files
/frontend/bundle.js
/frontend/bundle.js.map

# Miscellaneous
/frontend/.sass-cache/
/frontend/connect.lock/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/lerna-debug.log*
/frontend/.pnpm-debug.log*
/frontend/*.tgz
/frontend/*.lock
/frontend/.cache-loader/
/frontend/.npm
/frontend/.eslintcache
/frontend/.vercel/
/frontend/.vscode/
/frontend/.idea/
/frontend/*.sublime-project
/frontend/*.sublime-workspace

# Parcel-bundler cache
/frontend/.cache/
/frontend/.parcel-cache/

# Next.js build output
/frontend/.next/
/frontend/out/

# Gatsby files
/frontend/.cache/
/frontend/public/

# Vue.js
/frontend/dist/
/frontend/node_modules/

/frontend/ios/
/frontend/android/

# ================================
# 4. Docker
# ================================

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Docker image files
*.tar
*.tgz

# Docker volumes
docker-volumes/

# ================================
# 5. IDEs and Editors
# ================================

# Visual Studio Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# Emacs
*~
\#*\#
.\#*

# Vim
*.swp
*.swo
.session

# ================================
# 6. Miscellaneous
# ================================

# Backup files
*.bak
*.tmp
*.temp
*.orig

# ================================
# 7. Test Files and Scripts
# ================================

# Test emails
/testEmails/*.txt

# Scripts
/test-docker.bat
/download_models.py
/exporter.py
/app.py
/backend/requirements.txt

# ================================
# 8. LLM Models (Large Files)
# ================================

# Ignore all large model files in backend/models/

# Define file extensions for large models
backend/models/**/*.safetensors
backend/models/**/*.pth
backend/models/**/*.pt
backend/models/**/*.bin
backend/models/**/*.ckpt
backend/models/**/*.model

# Optionally, ignore entire subdirectories known to contain large files
backend/models/**/snapshots/
backend/models/**/original/

# Allow specific non-binary files within models (e.g., config, README)
!backend/models/**/*.json
!backend/models/**/*.md
!backend/models/**/*.png
!backend/models/**/*.pdf

# ================================
# 9. Static Assets
# ================================

# Frontend static assets (keep these files)
!/frontend/src/styles.css
!/frontend/src/index.js
!/frontend/src/components/ParserForm.jsx
!/frontend/src/components/ParsedResult.jsx
!/frontend/src/App.jsx

# Backend static assets (keep these files)
!/backend/static/styles.css
!/backend/static/script.js
!/backend/static/img/*.webp

# ================================
# 10. Specific Ignore Rules Based on User Input
# ================================

# Ignore specific LLM model directories based on provided file paths
backend/models/models--meta-llama--Llama-3.2-3B/
backend/models/models--meta-llama--Llama-3.2-1B/
backend/models/llama_3b/
backend/models/llama_1b/

# ================================
# 11. Exclude Specific Files if Necessary
# ================================

# Additional large files to exclude based on your file list
backend/models/**/*.consolidated.00.pth
backend/models/**/*.model.safetensors
backend/models/**/*.model.safetensors.index.json
archive/test_gemini.py
archive/models/version.txt
archive/models/nuextract/tokenizer_config.json
archive/models/nuextract/tokenizer.json
archive/models/nuextract/special_tokens_map.json
archive/models/nuextract/README.md
archive/models/nuextract/multilingual_bench.png
archive/models/nuextract/multilingual_bench.pdf
archive/models/nuextract/model.safetensors.index.json
archive/models/nuextract/model-00002-of-00002.safetensors
archive/models/nuextract/model-00001-of-00002.safetensors
archive/models/nuextract/generation_config.json
archive/models/nuextract/finetuned_gains.pdf
archive/models/nuextract/fewshot_bench.png
archive/models/nuextract/english_bench.png
archive/models/nuextract/english_bench.pdf
archive/models/nuextract/config.json
archive/models/nuextract/8-10_long_context.png
archive/models/nuextract/10-20_long_context.png
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/USE_POLICY.md
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/tokenizer_config.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/tokenizer.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/special_tokens_map.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/README.md
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/original/tokenizer.model
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/original/params.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/original/consolidated.00.pth
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/model.safetensors.index.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/model-00002-of-00002.safetensors
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/model-00001-of-00002.safetensors
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/LICENSE.txt
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/generation_config.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/config.json
archive/models/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/.gitattributes
archive/models/models--meta-llama--Llama-3.2-3B/refs/main
archive/models/models--meta-llama--Llama-3.2-3B/blobs/e85237a45033593adb3eb7e1a6cc5c410c4e2b360e24a422d3c1ab12a166c441
archive/models/models--meta-llama--Llama-3.2-3B/blobs/d3a1f0f5f401eeadca0c7a6786bd9e877fd42e58
archive/models/models--meta-llama--Llama-3.2-3B/blobs/cfabacc2620186cd3dd4b1dde9a37e057208636e
archive/models/models--meta-llama--Llama-3.2-3B/blobs/cb9ec25536e44d86778b10509d3e5bdca459a5cf
archive/models/models--meta-llama--Llama-3.2-3B/blobs/ac3c5f21b9779e3da0677d6d3c587778fe3a331e
archive/models/models--meta-llama--Llama-3.2-3B/blobs/a6344aac8c09253b3b630fb776ae94478aa0275b
archive/models/models--meta-llama--Llama-3.2-3B/blobs/8cfc88c52654b88fabf74e4777dd729540d88edd
archive/models/models--meta-llama--Llama-3.2-3B/blobs/82e9d31979e92ab929cd544440f129d9ecd797b69e327f80f17e1c50d5551b55
archive/models/models--meta-llama--Llama-3.2-3B/blobs/7f70e0141c2257e77489bb5359023477972e2e00
archive/models/models--meta-llama--Llama-3.2-3B/blobs/5cc5f00a5b203e90a27a3bd60d1ec393b07971e8
archive/models/models--meta-llama--Llama-3.2-3B/blobs/584d8d3e3f82f7964955174dfe5e3b1cf117a9d859f022cfdf7fcb884856e002
archive/models/models--meta-llama--Llama-3.2-3B/blobs/47d4a5aa69cdef91a53b77f5c5583647a578ca0e
archive/models/models--meta-llama--Llama-3.2-3B/blobs/4719a04514ec2f060240711b7c33ab21187cac730ecaba3040b7a0fd95a9cefb
archive/models/models--meta-llama--Llama-3.2-3B/blobs/2d73a6863086ff9d491c28e49df9fb697cd92c2b
archive/models/models--meta-llama--Llama-3.2-3B/blobs/085b47c1575cb889b7024030e60b78f54f0b8c9e
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/USE_POLICY.md
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/tokenizer_config.json
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/tokenizer.json
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/special_tokens_map.json
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/README.md
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/tokenizer.model
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/params.json
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/LICENSE.txt
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/generation_config.json
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/config.json
archive/models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/.gitattributes
archive/models/models--meta-llama--Llama-3.2-1B/refs/main
archive/models/models--meta-llama--Llama-3.2-1B/blobs/e1ea21c4ff6e1905e1f42ecf8ebe0ee10a063b98
archive/models/models--meta-llama--Llama-3.2-1B/blobs/cfabacc2620186cd3dd4b1dde9a37e057208636e
archive/models/models--meta-llama--Llama-3.2-1B/blobs/cfa47fb7185ebd1c3712fff5fa04fdbb0675c1e345fc72e12f6c7b65b8da6f05.incomplete
archive/models/models--meta-llama--Llama-3.2-1B/blobs/cb9ec25536e44d86778b10509d3e5bdca459a5cf
archive/models/models--meta-llama--Llama-3.2-1B/blobs/ac3c5f21b9779e3da0677d6d3c587778fe3a331e
archive/models/models--meta-llama--Llama-3.2-1B/blobs/a6344aac8c09253b3b630fb776ae94478aa0275b
archive/models/models--meta-llama--Llama-3.2-1B/blobs/83b8b2aebb1a987b3802dae75fb9470234a3aaaf
archive/models/models--meta-llama--Llama-3.2-1B/blobs/82e9d31979e92ab929cd544440f129d9ecd797b69e327f80f17e1c50d5551b55
archive/models/models--meta-llama--Llama-3.2-1B/blobs/68e2028211dcbb680a836ffbab628a9628ca045e
archive/models/models--meta-llama--Llama-3.2-1B/blobs/68a2e4be76fa709455a60272fba8e512c02d81c46e6c671cc9449e374fd6809a.incomplete
archive/models/models--meta-llama--Llama-3.2-1B/blobs/5cc5f00a5b203e90a27a3bd60d1ec393b07971e8
archive/models/models--meta-llama--Llama-3.2-1B/blobs/2d73a6863086ff9d491c28e49df9fb697cd92c2b
archive/models/models--meta-llama--Llama-3.2-1B/blobs/085b47c1575cb889b7024030e60b78f54f0b8c9e
archive/models/llama_3b/USE_POLICY.md
archive/models/llama_3b/tokenizer_config.json
archive/models/llama_3b/tokenizer.json
archive/models/llama_3b/special_tokens_map.json
archive/models/llama_3b/README.md
archive/models/llama_3b/original/tokenizer.model
archive/models/llama_3b/original/params.json
archive/models/llama_3b/original/consolidated.00.pth
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/USE_POLICY.md
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/tokenizer_config.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/tokenizer.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/special_tokens_map.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/README.md
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/original/tokenizer.model
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/original/params.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/original/consolidated.00.pth
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/model.safetensors.index.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/model-00002-of-00002.safetensors
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/model-00001-of-00002.safetensors
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/LICENSE.txt
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/generation_config.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/config.json
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/snapshots/13afe5124825b4f3751f836b40dafda64c1ed062/.gitattributes
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/refs/main
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/e85237a45033593adb3eb7e1a6cc5c410c4e2b360e24a422d3c1ab12a166c441
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/d3a1f0f5f401eeadca0c7a6786bd9e877fd42e58
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/cfabacc2620186cd3dd4b1dde9a37e057208636e
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/cb9ec25536e44d86778b10509d3e5bdca459a5cf
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/ac3c5f21b9779e3da0677d6d3c587778fe3a331e
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/a6344aac8c09253b3b630fb776ae94478aa0275b
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/8cfc88c52654b88fabf74e4777dd729540d88edd
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/82e9d31979e92ab929cd544440f129d9ecd797b69e327f80f17e1c50d5551b55
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/7f70e0141c2257e77489bb5359023477972e2e00
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/5cc5f00a5b203e90a27a3bd60d1ec393b07971e8
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/584d8d3e3f82f7964955174dfe5e3b1cf117a9d859f022cfdf7fcb884856e002
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/47d4a5aa69cdef91a53b77f5c5583647a578ca0e
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/4719a04514ec2f060240711b7c33ab21187cac730ecaba3040b7a0fd95a9cefb
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/2d73a6863086ff9d491c28e49df9fb697cd92c2b
archive/models/llama_3b/models--meta-llama--Llama-3.2-3B/blobs/085b47c1575cb889b7024030e60b78f54f0b8c9e
archive/models/llama_3b/model.safetensors.index.json
archive/models/llama_3b/model-00002-of-00002.safetensors
archive/models/llama_3b/model-00001-of-00002.safetensors
archive/models/llama_3b/LICENSE.txt
archive/models/llama_3b/generation_config.json
archive/models/llama_3b/config.json
archive/models/llama_1b/USE_POLICY.md
archive/models/llama_1b/tokenizer_config.json
archive/models/llama_1b/tokenizer.json
archive/models/llama_1b/special_tokens_map.json
archive/models/llama_1b/README.md
archive/models/llama_1b/original/tokenizer.model
archive/models/llama_1b/original/params.json
archive/models/llama_1b/original/consolidated.00.pth
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/USE_POLICY.md
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/tokenizer_config.json
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/tokenizer.json
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/special_tokens_map.json
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/README.md
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/tokenizer.model
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/params.json
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/consolidated.00.pth
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/model.safetensors
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/LICENSE.txt
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/generation_config.json
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/config.json
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/.gitattributes
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/refs/main
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/e1ea21c4ff6e1905e1f42ecf8ebe0ee10a063b98
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/cfabacc2620186cd3dd4b1dde9a37e057208636e
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/cfa47fb7185ebd1c3712fff5fa04fdbb0675c1e345fc72e12f6c7b65b8da6f05
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/cb9ec25536e44d86778b10509d3e5bdca459a5cf
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/ac3c5f21b9779e3da0677d6d3c587778fe3a331e
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/a6344aac8c09253b3b630fb776ae94478aa0275b
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/83b8b2aebb1a987b3802dae75fb9470234a3aaaf
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/82e9d31979e92ab929cd544440f129d9ecd797b69e327f80f17e1c50d5551b55
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/68e2028211dcbb680a836ffbab628a9628ca045e
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/68a2e4be76fa709455a60272fba8e512c02d81c46e6c671cc9449e374fd6809a
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/5cc5f00a5b203e90a27a3bd60d1ec393b07971e8
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/2d73a6863086ff9d491c28e49df9fb697cd92c2b
archive/models/llama_1b/models--meta-llama--Llama-3.2-1B/blobs/085b47c1575cb889b7024030e60b78f54f0b8c9e
archive/models/llama_1b/model.safetensors
archive/models/llama_1b/LICENSE.txt
archive/models/llama_1b/generation_config.json
archive/models/llama_1b/config.json
archive/gcp_audit.sh
